 /* init */
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html { font-size: 62.5%; /* 16px X 62.5 = 10px */ }
    body {
        font-size: 2rem; /* = 15px */
        color: #222;
        font-family: 'Open Sans', sans-serif; /* texte courant */
        overflow: hidden;
    }
    ul, li { list-style: none; }
    a {
        color: #222;
        text-decoration: none;
    }

    /* custom css */

    canvas {
        background: #d4fc79; /* For browsers that do not support gradients */    
        background: -webkit-radial-gradient(#d4fc79, #96e6a1); /* Safari 5.1 to 6.0 */
        background: -o-radial-gradient(#d4fc79, #96e6a1); /* For Opera 11.6 to 12.0 */
        background: -moz-radial-gradient(#d4fc79, #96e6a1); /* For Firefox 3.6 to 15 */
        background: radial-gradient(#d4fc79, #96e6a1); /* Standard syntax (must be last) */
    }